build
.svn*
*.log
*.log.*
.Trash*
*.pyc
*~
*.kde*
.libs
*.o
*.pb.h
*.lo
*.pb.cpp
*.la
.deps/
.libs/
Makefile
*.Plo
Makefile
*_pb2.py
Makefile.in
autom4te.cache/
config.status
libtool
configure
config.h
*.txt.user
*.pb.cc
*.pb.h
config/
